<p id="notice"><%= notice %></p>

<p>
  <b>Weixin:</b>
  <%= @weixin_user.weixin_id %>
</p>

<p>
  <b>Nick:</b>
  <%= @weixin_user.nick %>
</p>

<p>
  <b>Remark:</b>
  <%= @weixin_user.remark %>
</p>


<%= link_to 'Edit', edit_weixin_user_path(@weixin_user) %> |
<%= link_to 'Back', weixin_users_path %>
